.idea/
.vscode/
frontend/food_app_flutter/.dart_tool/
frontend/food_app_flutter/build/
frontend/food_app_flutter/.flutter-plugins
frontend/food_app_flutter/.flutter-plugins-dependencies
frontend/food_app_flutter/.pub-cache/
frontend/food_app_flutter/.pub/
frontend/food_app_flutter/ios/Pods/
frontend/food_app_flutter/ios/.symlinks/
frontend/food_app_flutter/ios/Flutter/Flutter.framework
frontend/food_app_flutter/ios/Flutter/Flutter.podspec
frontend/food_app_flutter/macos/Flutter/ephemeral
frontend/food_app_flutter/macos/Pods/
frontend/food_app_flutter/android/.gradle
frontend/food_app_flutter/android/local.properties
frontend/food_app_flutter/android/app/build/
*.log
